/* 添加字体声明 */
/* @font-face {
  font-family: 'YuanYingHeiTi';
  src: url('https://cdn.chat2db-ai.com/website/font/YuanYingHeiTi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

.container {
  width: 100%;
  margin: 0 auto;
}

.hero {
  padding-top: 4rem;
  padding-bottom: 8rem;
  text-align: center;
  background: #4039e9;
  color: white;
  margin-bottom: 4rem;

  .title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Segoe UI", "Microsoft YaHei", "PingFang SC", -apple-system,
      BlinkMacSystemFont, sans-serif;

    /* font-family: 'YuanYingHeiTi', sans-serif; */
    /* -webkit-text-stroke: 12px black;
    paint-order: stroke fill; */
    /* text-shadow: 4px 4px 0px black; */
  }
  .subtitle {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto 2rem;
    line-height: 1.6;
    font-weight: 700;

    /* -webkit-text-stroke: 6px black;
    paint-order: stroke fill;
    text-shadow: 4px 4px 0px black; */
  }
  .buttonGroup {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }

  .primaryButton,
  .secondaryButton {
    display: inline-flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 2px solid #000;
    background: #6eea29;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    filter: drop-shadow(4px 6px 0px #000);
  }

  .primaryButton:hover {
    background: #62c829;
  }
}
